# Import libraries

In [5]:
from sklearn_utils import get_all_regressors
import pandas as pd
from PersistenceManager import PersistenceManager
from predictions import create_model_machine_learning_algorithm
from own_utils import load_json
from cleaning import prepare_dataframe_from_db, process_time_series_data
from predictions import run_time_series_prediction_pipeline, process_model_machine_learning, evaluate_model
from own_utils import execute_concurrently
from own_utils import list_directories_by_depth

# Import dataset

In [6]:
df = pd.read_csv(r'..\data\instants_data_saved\2023-07-04_12-09-22.csv')
df = df.query("id_device == 'DBEM003'").reset_index(drop=True)
df

,id_data,id_device,id_sensor,id_variable,timestamp,value,unit,id_location
0,1,DBEM003,sWEA,00-temp,2023-04-18 09:31:00,18.57,ºC,NaN
1,2,DBEM003,sWEA,00-temp,2023-04-18 09:32:00,18.56,ºC,NaN
2,3,DBEM003,sWEA,00-temp,2023-04-18 09:33:00,18.55,ºC,NaN
3,4,DBEM003,sWEA,00-temp,2023-04-18 09:34:00,18.53,ºC,NaN
4,5,DBEM003,sWEA,00-temp,2023-04-18 09:35:00,18.53,ºC,NaN
...,...,...,...,...,...,...,...,...
1527268,3261165,DBEM003,sAQU,01-tvoc,2023-05-10 23:59:10,31.00,ppb,NaN
1527269,3261166,DBEM003,sAQU,01-tvoc,2023-05-10 23:59:20,37.00,ppb,NaN
1527270,3261167,DBEM003,sAQU,01-tvoc,2023-05-10 23:59:30,25.00,ppb,NaN
1527271,3261168,DBEM003,sAQU,01-tvoc,2023-05-10 23:59:40,26.00,ppb,NaN
1527272,3261169,DBEM003,sAQU,01-tvoc,2023-05-10 23:59:50,21.00,ppb,NaN

# Create dataframe tidy

## parameters

In [7]:
prepare_dataframe_from_db_cols_for_query = [
    "00-eco2",
    "00-temp",
    "01-hum",
    "01-tvoc",
    "02-pres",
    "03-siaq",
    "04-diaq"
]
preprocess_time_series_data_resample_freq = "60S"
preprocess_time_series_data_aggregation_func = "mean"
preprocess_time_series_data_method = "linear"
preprocess_time_series_data_outlier_cols = None

## Dataframe preprocessed

In [8]:
df = prepare_dataframe_from_db(
    df=df,
    cols_for_query = prepare_dataframe_from_db_cols_for_query,
)

df

,id_device,id_sensor,id_variable,timestamp,value,unit,id_location
0,DBEM003,sWEA,00-temp,2023-04-18 09:31:00+00:00,18.57,ºC,NaN
1,DBEM003,sWEA,00-temp,2023-04-18 09:32:00+00:00,18.56,ºC,NaN
2,DBEM003,sWEA,00-temp,2023-04-18 09:33:00+00:00,18.55,ºC,NaN
3,DBEM003,sWEA,00-temp,2023-04-18 09:34:00+00:00,18.53,ºC,NaN
4,DBEM003,sWEA,00-temp,2023-04-18 09:35:00+00:00,18.53,ºC,NaN
...,...,...,...,...,...,...,...
1187874,DBEM003,sAQU,01-tvoc,2023-05-10 23:59:10+00:00,31.00,ppb,NaN
1187875,DBEM003,sAQU,01-tvoc,2023-05-10 23:59:20+00:00,37.00,ppb,NaN
1187876,DBEM003,sAQU,01-tvoc,2023-05-10 23:59:30+00:00,25.00,ppb,NaN
1187877,DBEM003,sAQU,01-tvoc,2023-05-10 23:59:40+00:00,26.00,ppb,NaN
1187878,DBEM003,sAQU,01-tvoc,2023-05-10 23:59:50+00:00,21.00,ppb,NaN

In [9]:
# Process time series data: resample and interpolate
df_resampled_interpolated = process_time_series_data(
    df=df,
    resample_freq = preprocess_time_series_data_resample_freq,
    aggregation_func = preprocess_time_series_data_aggregation_func,
    method = preprocess_time_series_data_method,
    outlier_cols = preprocess_time_series_data_outlier_cols,
)
df_resampled_interpolated

       id_device id_sensor id_variable                 timestamp       value
0        DBEM003      sAQU     00-eco2 2023-04-18 09:31:00+00:00  400.000000
1        DBEM003      sAQU     00-eco2 2023-04-18 09:32:00+00:00  400.000000
2        DBEM003      sAQU     00-eco2 2023-04-18 09:33:00+00:00  400.000000
3        DBEM003      sAQU     00-eco2 2023-04-18 09:34:00+00:00  400.000000
4        DBEM003      sAQU     00-eco2 2023-04-18 09:35:00+00:00  400.000000
...          ...       ...         ...                       ...         ...
227838   DBEM003      sWEA     04-diaq 2023-05-10 23:55:00+00:00   26.666667
227839   DBEM003      sWEA     04-diaq 2023-05-10 23:56:00+00:00   28.000000
227840   DBEM003      sWEA     04-diaq 2023-05-10 23:57:00+00:00   29.000000
227841   DBEM003      sWEA     04-diaq 2023-05-10 23:58:00+00:00   30.333333
227842   DBEM003      sWEA     04-diaq 2023-05-10 23:59:00+00:00   30.166667

[227843 rows x 5 columns]

In [10]:

# Pivot and rename columns for uniformity
df_preprocessed = pd.pivot_table(
    df_resampled_interpolated.reset_index()[["timestamp", "id_device", "id_variable", "value"]],
    index=["timestamp", "id_device"],
    columns=["id_variable"]
).reset_index()

df_preprocessed

                            timestamp id_device       value             \
id_variable                                         00-eco2    00-temp
0           2023-04-18 09:31:00+00:00   DBEM003  400.000000  18.570000
1           2023-04-18 09:32:00+00:00   DBEM003  400.000000  18.560000
2           2023-04-18 09:33:00+00:00   DBEM003  400.000000  18.550000
3           2023-04-18 09:34:00+00:00   DBEM003  400.000000  18.530000
4           2023-04-18 09:35:00+00:00   DBEM003  400.000000  18.530000
...                               ...       ...         ...        ...
32544       2023-05-10 23:55:00+00:00   DBEM003  449.833333  25.281667
32545       2023-05-10 23:56:00+00:00   DBEM003  427.000000  25.278333
32546       2023-05-10 23:57:00+00:00   DBEM003  414.500000  25.271667
32547       2023-05-10 23:58:00+00:00   DBEM003  407.166667  25.268333
32548       2023-05-10 23:59:00+00:00   DBEM003  423.000000  25.275000


id_variable     01-hum    01-tvoc     02-pres    03-siaq    04-diaq
0            33.050000   2.000000  934.700000  25.000000  27.000000
1            33.000000   1.000000  934.720000  25.000000  25.000000
2            33.030000   8.000000  934.700000  25.000000  25.000000
3            33.090000   4.000000  934.660000  25.000000  26.000000
4            33.050000   3.000000  934.680000  26.000000  29.000000
...                ...        ...         ...        ...        ...
32544        29.266667  38.000000  939.910000  26.166667  26.666667
32545        29.221667  39.333333  939.913333  27.166667  28.000000
32546        29.205000  22.333333  939.873333  27.666667  29.000000
32547        29.241667  16.166667  939.873333  28.833333  30.333333
32548        29.125000  25.666667  939.843333  28.833333  30.166667

[32549 rows x 9 columns]

In [11]:

df_preprocessed.columns = [
    col[0] if col[-1] == '' else col[-1]
    for col in df_preprocessed.columns.to_flat_index()
]

df_preprocessed.rename(columns={"00-eco2":"y"}, inplace=True)

df_preprocessed

,timestamp,id_device,y,00-temp,01-hum,01-tvoc,02-pres,03-siaq,04-diaq
0,2023-04-18 09:31:00+00:00,DBEM003,400.000000,18.570000,33.050000,2.000000,934.700000,25.000000,27.000000
1,2023-04-18 09:32:00+00:00,DBEM003,400.000000,18.560000,33.000000,1.000000,934.720000,25.000000,25.000000
2,2023-04-18 09:33:00+00:00,DBEM003,400.000000,18.550000,33.030000,8.000000,934.700000,25.000000,25.000000
3,2023-04-18 09:34:00+00:00,DBEM003,400.000000,18.530000,33.090000,4.000000,934.660000,25.000000,26.000000
4,2023-04-18 09:35:00+00:00,DBEM003,400.000000,18.530000,33.050000,3.000000,934.680000,26.000000,29.000000
...,...,...,...,...,...,...,...,...,...
32544,2023-05-10 23:55:00+00:00,DBEM003,449.833333,25.281667,29.266667,38.000000,939.910000,26.166667,26.666667
32545,2023-05-10 23:56:00+00:00,DBEM003,427.000000,25.278333,29.221667,39.333333,939.913333,27.166667,28.000000
32546,2023-05-10 23:57:00+00:00,DBEM003,414.500000,25.271667,29.205000,22.333333,939.873333,27.666667,29.000000
32547,2023-05-10 23:58:00+00:00,DBEM003,407.166667,25.268333,29.241667,16.166667,939.873333,28.833333,30.333333
32548,2023-05-10 23:59:00+00:00,DBEM003,423.000000,25.275000,29.125000,25.666667,939.843333,28.833333,30.166667

In [12]:
list(set(df_preprocessed.columns)-set(['y','timestamp','id_device']))

['04-diaq', '01-hum', '01-tvoc', '03-siaq', '00-temp', '02-pres']

In [13]:
list(set(df_preprocessed.columns)-set(['y','timestamp','id_device'])) + ["y"]

['04-diaq', '01-hum', '01-tvoc', '03-siaq', '00-temp', '02-pres', 'y']

# Create function of standarization DataFrame

In [ ]:
def preprocess_and_standardize_dataframe(
    df: pd.DataFrame,
    resample_freq: str,
    aggregation_func: str,
    interpolation_method: str,
    target_variable: str,
    outlier_cols: list = None,
    pivot: bool = False,
    pivot_index: list = None,
    pivot_columns: list = None,
    pivot_values: list = None,
    subset_cols: list = None,
    target_column_name: str = "y",
    save_metadata: bool = False,
) -> pd.DataFrame:
    """
    Preprocess and standardize a dataframe for cross-validation.

    This function processes time-series data with resampling, aggregation, and interpolation. 
    Optionally, it applies a pivot operation to reshape the dataframe into a standardized format.

    Parameters:
    ----------
    df : pd.DataFrame
        The dataframe to preprocess and standardize.
    resample_freq : str
        Frequency for resampling the time-series data.
    aggregation_func : str
        Aggregation function to apply during resampling.
    interpolation_method : str
        Method to use for interpolating missing values.
    target_variable : str, optional
        The name of the column to set as the target variable (default is None).
    outlier_cols : list, optional
        List of columns to apply outlier handling (default is None, no outlier handling applied).
    pivot : bool, optional
        Whether to apply a pivot operation to the dataframe (default is False).
    pivot_index : list, optional
        Columns to use as the index in the pivot table (required if `pivot=True`).
    pivot_columns : list, optional
        Columns to use as the columns in the pivot table (required if `pivot=True`).
    pivot_values : list, optional
        Columns to use as the values in the pivot table (required if `pivot=True`).
    subset_cols : list, optional
        Columns to subset the dataframe to (default is None, no subsetting applied).
    target_column_name : str, optional
        The new name for the target variable column in the standardized dataframe (default is "y").

    Returns:
    -------
    pd.DataFrame
        A preprocessed and standardized dataframe ready for further analysis or modeling.

    Example:
    --------
    ```python
    df_preprocessed = preprocess_and_standardize_dataframe(
        df=my_df,
        resample_freq="60S",
        aggregation_func="mean",
        interpolation_method="linear",
        target_variable="00-eco2",
        pivot=True,
        pivot_index=["timestamp", "id_device"],
        pivot_columns=["id_variable"],
        pivot_values=["value"]
    )
    ```
    """
    # Process time-series data: resample, aggregate, and interpolate
    df_resampled_interpolated = process_time_series_data(
        df=df,
        resample_freq=resample_freq,
        aggregation_func=aggregation_func,
        method=interpolation_method,
        outlier_cols=outlier_cols,
    )

    # Apply pivot operation if required
    if pivot:
        if not pivot_index or not pivot_columns or not pivot_values:
            raise ValueError("`pivot_index`, `pivot_columns`, and `pivot_values` must be provided if `pivot=True`.")
        
        df_resampled_interpolated = pd.pivot_table(
            df_resampled_interpolated.reset_index()[subset_cols],
            index=pivot_index,
            columns=pivot_columns,
            values=pivot_values
        ).reset_index()

        # Flatten column hierarchy if created by pivot_table
        df_resampled_interpolated.columns = [
            col[0] if col[-1] == '' else col[-1]
            for col in df_resampled_interpolated.columns.to_flat_index()
        ]

    # Rename target variable column if specified
    if target_variable:
        df_resampled_interpolated.rename(columns={target_variable: target_column_name}, inplace=True)

    return df_resampled_interpolated

df = pd.read_csv(r'..\data\instants_data_saved\2023-07-04_12-09-22.csv')
df = df.query("id_device == 'DBEM003'").reset_index(drop=True)
prepare_dataframe_from_db_cols_for_query = [
    "00-eco2",
    "00-temp",
    "01-hum",
    "01-tvoc",
    "02-pres",
    "03-siaq",
    "04-diaq"
]
# Prepare dataframe with selected columns
df = prepare_dataframe_from_db(
    df=df,
    cols_for_query=prepare_dataframe_from_db_cols_for_query,
)

preprocess_time_series_data_resample_freq = "60S"
preprocess_time_series_data_aggregation_func = "mean"
preprocess_time_series_data_method = "linear"
target_variable = "00-eco2"
outlier_cols = None
pivot = True
pivot_index = ["timestamp", "id_device"]
pivot_columns = ["id_variable"]
pivot_values = ["value"]
subset_cols = ["timestamp", "id_device", "id_variable", "value"]
target_column_name = "y"


preprocess_time_series_data_outlier_cols = None
df_preprocessed = preprocess_and_standardize_dataframe(
    df = df,
    resample_freq = preprocess_time_series_data_resample_freq,
    aggregation_func = preprocess_time_series_data_aggregation_func,
    interpolation_method = preprocess_time_series_data_method,
    target_variable=target_variable,
    outlier_cols=outlier_cols,
    pivot=pivot,
    pivot_index=pivot_index,
    pivot_columns=pivot_columns,
    pivot_values=pivot_values,
    subset_cols=subset_cols,
    target_column_name=target_column_name
)
df_preprocessed

,timestamp,id_device,y,00-temp,01-hum,01-tvoc,02-pres,03-siaq,04-diaq
0,2023-04-18 09:31:00+00:00,DBEM003,400.000000,18.570000,33.050000,2.000000,934.700000,25.000000,27.000000
1,2023-04-18 09:32:00+00:00,DBEM003,400.000000,18.560000,33.000000,1.000000,934.720000,25.000000,25.000000
2,2023-04-18 09:33:00+00:00,DBEM003,400.000000,18.550000,33.030000,8.000000,934.700000,25.000000,25.000000
3,2023-04-18 09:34:00+00:00,DBEM003,400.000000,18.530000,33.090000,4.000000,934.660000,25.000000,26.000000
4,2023-04-18 09:35:00+00:00,DBEM003,400.000000,18.530000,33.050000,3.000000,934.680000,26.000000,29.000000
...,...,...,...,...,...,...,...,...,...
32544,2023-05-10 23:55:00+00:00,DBEM003,449.833333,25.281667,29.266667,38.000000,939.910000,26.166667,26.666667
32545,2023-05-10 23:56:00+00:00,DBEM003,427.000000,25.278333,29.221667,39.333333,939.913333,27.166667,28.000000
32546,2023-05-10 23:57:00+00:00,DBEM003,414.500000,25.271667,29.205000,22.333333,939.873333,27.666667,29.000000
32547,2023-05-10 23:58:00+00:00,DBEM003,407.166667,25.268333,29.241667,16.166667,939.873333,28.833333,30.333333
32548,2023-05-10 23:59:00+00:00,DBEM003,423.000000,25.275000,29.125000,25.666667,939.843333,28.833333,30.166667

In [29]:
stop

NameError: name 'stop' is not defined

# Inputs

In [ ]:
tidy_data = df_preprocessed  
ini_train = "2023-04-18 00:00:00+00:00"
fin_train = "2023-04-25 00:00:00+00:00"
fin_test = "2023-04-26 00:00:00+00:00"
model_sklearn_name = "ARDRegression"
X_name_features = list(set(df_preprocessed.columns)-set(['y','timestamp','id_device']))
Y_name_features = "y"
n_lags = 10
n_leads = 10 
lag_columns = list(set(df_preprocessed.columns)-set(['y','timestamp','id_device'])) + ["y"]
lead_columns = "y"
scale_in_preprocessing=True
name_time_column="timestamp"
name_id_sensor_column="id_device"
save_preprocessing=True
path_to_save_model= "paper"
folder_name_model= model_sklearn_name
folder_name_time_execution="execution-time-no-defined"
folder_name_preprocessed_data="preprocessed-data-to-use-in-model"
machine_learning_model_args= {
    "max_iter": 300,
    "tol": 0.001,
    "alpha_1": 1e-06,
    "alpha_2": 1e-06,
    "lambda_1": 1e-06,
    "lambda_2": 1e-06,
    "compute_score": False,
    "threshold_lambda": 10000.0,
    "fit_intercept": True,
    "copy_X": True,
    "verbose": False,
}
measure_time = True
logger = None

In [ ]:
model_machine_learning = create_model_machine_learning_algorithm(
    tidy_data = tidy_data,
    ini_train = ini_train,
    fin_train = fin_train,
    fin_test = fin_test,
    model_sklearn_name = model_sklearn_name,
    X_name_features = X_name_features,
    Y_name_features = Y_name_features,
    n_lags = n_lags,
    n_leads = n_leads,
    lag_columns = lag_columns,
    lead_columns = lead_columns,
    scale_in_preprocessing = scale_in_preprocessing,
    name_time_column = name_time_column,
    save_preprocessing = save_preprocessing,
    path_to_save_model = path_to_save_model,
    folder_name_model = folder_name_model,
    folder_name_time_execution = folder_name_time_execution,
    folder_name_preprocessed_data = folder_name_preprocessed_data,
    machine_learning_model_args = machine_learning_model_args,
    measure_time = measure_time,
    logger = logger
)

# Multiples hiperparameters concurrently

In [ ]:
# import concurrent.futures
# import logging
# from typing import List, Dict, Callable

# #TODO: Arreglar el logger
# def machine_learning_concurrently(
#     model_func: Callable,
#     hyperparameter_combinations: List[Dict],
#     data: pd.DataFrame,
#     logger: logging.Logger = None
# ):
#     """
#     Executes multiple machine learning concurrently with different hyperparameter sets.
    
#     Parameters:
#     - model_func (Callable): The function that trains (or another step in pipeline) the model.
#     - hyperparameter_combinations (List[Dict]): A list of dictionaries, where each dictionary contains
#                                                 the hyperparameters for the model training.
#     - data (pd.DataFrame): The preprocessed DataFrame to be passed to the model function.
#     - logger (logging.Logger, optional): A logger object for tracking progress and errors.
    
#     Returns:
#     - List: A list of results from the model function for each hyperparameter set.
#     """
    
#     # Function wrapper to include data and logging
#     def wrapped_model_func(hyperparameters):
#         try:
#             result = model_func(tidy_data=data, **hyperparameters)
#             # logger.info(f"Experiment with params {hyperparameters} completed successfully.")
#             return result
#         except Exception as e:
#             # logger.error(f"Experiment with params {hyperparameters} failed. Error: {e}")
#             return e

#     # Execute concurrently
#     results = execute_concurrently(wrapped_model_func, hyperparameter_combinations)
#     return results

In [ ]:
from itertools import product

def generate_combinations(parameter_space, model_specific_args):
    """
    Generate combinations of parameters for machine learning experiments in an optimized manner.

    This function dynamically combines a generic set of parameters with model-specific hyperparameter
    domains, ensuring efficient generation of all possible parameter combinations. It avoids the
    creation of intermediate lists and unnecessary memory usage by leveraging generator expressions
    and efficient dictionary construction.

    Parameters:
    - parameter_space (dict): A dictionary defining the generic parameters and their possible values.
                              This includes common training parameters such as:
                              - `ini_train` (list of str): Start dates for training.
                              - `fin_train` (list of str): End dates for training.
                              - `fin_test` (list of str): End dates for testing.
                              - `model_sklearn_name` (list of str): Names of scikit-learn models to evaluate.
                              - `n_lags` (list of int): Number of lag features to include.
                              - `n_leads` (list of int): Number of lead features to include.
                              - `X_name_features` (list of list of str): Lists of feature names for predictors.
                              Other parameters can also be included as required.

    - model_specific_args (dict): A dictionary mapping each `model_sklearn_name` to its corresponding
                                  hyperparameter domains. Each model's domain is defined as a dictionary,
                                  where the keys are hyperparameter names and the values are lists of
                                  possible values. Example:
                                  {
                                      "ARDRegression": {
                                          "max_iter": [200, 300],
                                          "tol": [0.001, 0.01],
                                          "alpha_1": [1e-06, 1e-05],
                                      },
                                      "Ridge": {
                                          "alpha": [0.1, 1.0, 10.0],
                                          "solver": ["auto", "svd"]
                                      }
                                  }

    Returns:
    - Generator[Dict]: A generator that yields dictionaries representing unique parameter combinations.
                       Each dictionary contains both the generic parameters and the model-specific
                       hyperparameters for one combination. Example output:
                       {
                           "ini_train": "2023-04-18",
                           "fin_train": "2023-04-25",
                           "fin_test": "2023-04-27",
                           "model_sklearn_name": "ARDRegression",
                           "n_lags": 5,
                           "n_leads": 10,
                           "X_name_features": ["feature1", "feature2"],
                           "machine_learning_model_args": {
                               "max_iter": 200,
                               "tol": 0.001,
                               "alpha_1": 1e-06,
                           }
                       }
    """
    generic_keys, generic_values = zip(*((k, v) for k, v in parameter_space.items() if k != "model_sklearn_name"))
    model_names = parameter_space.get("model_sklearn_name", [])

    return (
        {
            **dict(zip(generic_keys, generic_comb)),
            "model_sklearn_name": model,
            "machine_learning_model_args": dict(zip(model_args_keys, model_args_comb))
        }
        for generic_comb in product(*generic_values)
        for model in model_names
        for model_args_keys, model_args_values in [(list(model_specific_args[model].keys()), list(model_specific_args[model].values()))]
        for model_args_comb in product(*model_args_values)
    )

In [ ]:
# tidy_data = df_preprocessed  
# ini_train = "2023-04-18 00:00:00+00:00"
# fin_train = "2023-04-25 00:00:00+00:00"
# fin_test = "2023-04-26 00:00:00+00:00"
# model_sklearn_name = "ARDRegression"
# X_name_features = list(set(df_preprocessed.columns)-set(['y','timestamp','id_device']))
# Y_name_features = "y"
# n_lags = 10
# n_leads = 10 
# lag_columns = list(set(df_preprocessed.columns)-set(['y','timestamp','id_device'])) + ["y"]
# lead_columns = "y"
# scale_in_preprocessing=True
# name_time_column="timestamp"
# save_preprocessing=True
# path_to_save_model= "paper"
# folder_name_model= model_sklearn_name
# folder_name_time_execution="execution-time-no-defined"
# folder_name_preprocessed_data="preprocessed-data-to-use-in-model"
# machine_learning_model_args= {
#     "max_iter": 300,
#     "tol": 0.001,
#     "alpha_1": 1e-06,
#     "alpha_2": 1e-06,
#     "lambda_1": 1e-06,
#     "lambda_2": 1e-06,
#     "compute_score": False,
#     "threshold_lambda": 10000.0,
#     "fit_intercept": True,
#     "copy_X": True,
#     "verbose": False,
# }
# measure_time = True
# logger = None
hyperparameters_model_space = {
    "tidy_data": [df_preprocessed],
    "ini_train": ["2023-04-18 00:00:00+00:00", "2023-04-19 00:00:00+00:00"],
    "fin_train": ["2023-04-25 00:00:00+00:00", "2023-04-26 00:00:00+00:00"],
    "fin_test": ["2023-04-26 00:00:00+00:00"],
    "model_sklearn_name": ["ARDRegression"],
    "n_lags": [5, 10],
    "n_leads": [5, 10],
    "X_name_features": [list(set(df_preprocessed.columns)-set(['y','timestamp','id_device']))],
    "Y_name_features": ["y"],
    "lag_columns": [list(set(df_preprocessed.columns)-set(['y','timestamp','id_device'])) + ["y"]],
    "lead_columns": ["y"],
    "scale_in_preprocessing": [True],
    "name_time_column": ["timestamp"],
    "save_preprocessing": [True],
    "path_to_save_model": ["paper"],
    "folder_name_model": ["ARDRegression"],
    "folder_name_time_execution": ["execution-time-no-defined"],
    "folder_name_preprocessed_data": ["preprocessed-data-to-use-in-model"],
    "measure_time": [True],
    "logger": [None],
    "kwargs_save_object": [{"rename_if_exists": True}],
}

hyperparameters_specific_regressor_args = {
    "ARDRegression": {
        "max_iter": [200, 300],
        "tol": [0.001, 0.01],
        "alpha_1": [1e-06, 1e-05],
    }
}

combinations = generate_combinations(hyperparameters_model_space, hyperparameters_specific_regressor_args)
hyperparameters = [combination for combination in combinations]
hyperparameters

In [ ]:
stop

# Generate combinations of hyperparameters for preprocessing

In [ ]:
def create_dataframe_combinations(parameter_space):
    """
    Generate and preprocess dataframes with optimized parameter combinations.

    This function dynamically generates all possible combinations of preprocessing parameters,
    applies the preprocessing to the given dataframe, and yields the resulting dataframes
    along with their parameter configurations.

    Parameters:
    ----------
    parameter_space : dict
        A dictionary defining the preprocessing parameters and their possible values.
        These parameters include:
        - `resample_freq` (list of str): Frequencies for resampling the time-series data.
        - `aggregation_func` (list of str): Aggregation functions to apply during resampling.
        - `interpolation_method` (list of str): Methods to use for interpolating missing values.
        - `target_variable` (list of str): Names of the columns to set as the target variable.
        - `pivot` (list of bool): Whether to apply a pivot operation.
        - `pivot_index` (list of list of str): Columns to use as the index in the pivot table.
        - `pivot_columns` (list of list of str): Columns to use as the columns in the pivot table.
        - `pivot_values` (list of list of str): Columns to use as the values in the pivot table.
        - `subset_cols` (list of list of str): Columns to subset the dataframe to.
        - `target_column_name` (list of str): New names for the target variable column.

    Yields:
    -------
    dict
        A dictionary containing:
        - `parameters`: The parameter configuration used for preprocessing.
        - `dataframe`: The resulting preprocessed dataframe.

    Example Usage:
    --------------
    ```python
    parameter_space = {
        "resample_freq": ["60S", "30S"],
        "aggregation_func": ["mean", "median"],
        "interpolation_method": ["linear", "quadratic"],
        "target_variable": ["00-eco2"],
        "pivot": [True, False],
        "pivot_index": [["timestamp", "id_device"]],
        "pivot_columns": [["id_variable"]],
        "pivot_values": [["value"]],
        "subset_cols": [["timestamp", "id_device", "id_variable", "value"]],
        "target_column_name": ["y"]
    }

    for result in create_dataframe_combinations(parameter_space):
        print(result["parameters"])
        print(result["dataframe"])
    ```
    """
    keys, values = zip(*parameter_space.items())

    for combination in product(*values):
        params = dict(zip(keys, combination))

        # Prepare and preprocess the dataframe
        try:
            df_preprocessed = preprocess_and_standardize_dataframe(
                df=params.get("df"),  # Assume df is passed in the parameter space
                resample_freq=params["resample_freq"],
                aggregation_func=params["aggregation_func"],
                interpolation_method=params["interpolation_method"],
                target_variable=params.get("target_variable"),
                outlier_cols=params.get("outlier_cols"),
                pivot=params["pivot"],
                pivot_index=params.get("pivot_index"),
                pivot_columns=params.get("pivot_columns"),
                pivot_values=params.get("pivot_values"),
                subset_cols=params.get("subset_cols"),
                target_column_name=params.get("target_column_name"),
            )

            yield {
                "parameters": params,
                "dataframe": df_preprocessed
            }

        except Exception as e:
            print(f"Error processing combination {params}: {e}")

In [ ]:
stop

# Create function of cv

In [1]:
from sklearn_utils import get_all_regressors
import pandas as pd
from PersistenceManager import PersistenceManager
from predictions import create_model_machine_learning_algorithm
from own_utils import load_json
from cleaning import prepare_dataframe_from_db, process_time_series_data
from predictions import run_time_series_prediction_pipeline, process_model_machine_learning, evaluate_model
from own_utils import execute_concurrently
from own_utils import list_directories_by_depth
from itertools import product

In [ ]:
def preprocess_and_standardize_dataframe(
    df: pd.DataFrame,
    resample_freq: str,
    aggregation_func: str,
    interpolation_method: str,
    target_variable: str,
    outlier_cols: list = None,
    pivot: bool = False,
    pivot_index: list = None,
    pivot_columns: list = None,
    pivot_values: list = None,
    subset_cols: list = None,
    target_column_name: str = "y",
) -> pd.DataFrame:
    """
    Preprocess and standardize a dataframe for cross-validation.

    This function processes time-series data by resampling, aggregating, and interpolating missing values.
    Optionally, it applies a pivot operation to reshape the dataframe into a standardized format.
    The target variable can be renamed, and metadata regarding preprocessing is returned for traceability.

    Parameters:
    ----------
    df : pd.DataFrame
        The dataframe to preprocess and standardize.
    resample_freq : str
        Frequency for resampling the time-series data, following Pandas offset aliases (e.g., '60S', '1H', '1D').
    aggregation_func : str
        Aggregation function to apply during resampling (e.g., 'mean', 'sum', 'min', 'max').
    interpolation_method : str
        Method to use for interpolating missing values (e.g., 'linear', 'nearest', 'spline').
    target_variable : str
        The name of the column to set as the target variable.
    outlier_cols : list, optional
        List of columns to apply outlier handling. If None, no outlier handling is applied (default is None).
    pivot : bool, optional
        Whether to apply a pivot operation to the dataframe (default is False).
    pivot_index : list, optional
        Columns to use as the index in the pivot table (required if `pivot=True`).
    pivot_columns : list, optional
        Columns to use as the columns in the pivot table (required if `pivot=True`).
    pivot_values : list, optional
        Columns to use as the values in the pivot table (required if `pivot=True`).
    subset_cols : list, optional
        List of columns to subset from the dataframe before pivoting (default is None, no subsetting applied).
    target_column_name : str, optional
        The new name for the target variable column in the standardized dataframe (default is "y").

    Returns:
    -------
    dict
        A dictionary containing:
        - 'df_resampled_interpolated' (pd.DataFrame): The preprocessed and standardized dataframe ready for further analysis or modeling.
        - 'metadata_preprocessing' (dict): Metadata describing the preprocessing steps, including resampling frequency, aggregation function, 
          interpolation method, and outlier-handling columns.

    Raises:
    ------
    ValueError
        If `pivot=True` but `pivot_index`, `pivot_columns`, or `pivot_values` are not provided.

    Example:
    --------
    ```python
    df_preprocessed = preprocess_and_standardize_dataframe(
        df=my_df,
        resample_freq="60S",
        aggregation_func="mean",
        interpolation_method="linear",
        target_variable="00-eco2",
        outlier_cols=["value", "sensor_reading"],
        pivot=True,
        pivot_index=["timestamp", "id_device"],
        pivot_columns=["id_variable"],
        pivot_values=["value"],
        subset_cols=["timestamp", "id_device", "id_variable", "value"]
    )

    # Access preprocessed dataframe
    df_processed = df_preprocessed["df_resampled_interpolated"]

    # Access metadata on preprocessing steps
    metadata = df_preprocessed["metadata_preprocessing"]
    ```

    Notes:
    ------
    - The pivot operation can be useful for transforming long-format data into a wide format for machine learning models.
    - Handling of outliers can be customized by specifying the columns where outlier handling should be applied.
    - The metadata returned in `metadata_preprocessing` can be useful for debugging and tracking the preprocessing steps applied.
    - Ensure that the target variable exists in the dataframe before renaming it with `target_column_name`.
    """

    # Process time-series data: resample, aggregate, and interpolate
    df_resampled_interpolated = process_time_series_data(
        df=df,
        resample_freq=resample_freq,
        aggregation_func=aggregation_func,
        method=interpolation_method,
        outlier_cols=outlier_cols,
    )

    # Apply pivot operation if required
    if pivot:
        if not pivot_index or not pivot_columns or not pivot_values:
            raise ValueError("`pivot_index`, `pivot_columns`, and `pivot_values` must be provided if `pivot=True`.")
        
        df_resampled_interpolated = pd.pivot_table(
            df_resampled_interpolated.reset_index()[subset_cols],
            index=pivot_index,
            columns=pivot_columns,
            values=pivot_values
        ).reset_index()

        # Flatten column hierarchy if created by pivot_table
        df_resampled_interpolated.columns = [
            col[0] if col[-1] == '' else col[-1]
            for col in df_resampled_interpolated.columns.to_flat_index()
        ]

    # Rename target variable column if specified
    if target_variable:
        df_resampled_interpolated.rename(columns={target_variable: target_column_name}, inplace=True)

    metadata_preprocessing = {
    "resample_freq": resample_freq,
    "aggregation_func": aggregation_func,
    "interpolation_method": interpolation_method,
    "outlier_cols": outlier_cols,
    }

    output ={
        "df_resampled_interpolated": df_resampled_interpolated,
        "metadata_preprocessing": metadata_preprocessing
    }

    return output

def create_cv_hyperparameters_model(
        df, 
        hyperparameters_preprocessing,
        hyperparameters_model_space,
        hyperparameters_specific_regressor_args,
):
    """
    Generate and execute cross-validation experiments with optimized hyperparameter combinations.

    This function dynamically generates all possible combinations of generic parameters and model-specific
    hyperparameters for a set of machine learning experiments. It then executes the experiments concurrently
    using the generated hyperparameter configurations.

    Parameters:
    ----------
    df : pd.DataFrame
            The raw dataframe containing the time-series data to be preprocessed and used for the cross-validation pipeline.

    hyperparameter_model_space : dict
            A dictionary defining the generic parameters and their possible values.
            These parameters are common across all models and include:
            - `ini_train` (list of str): List of start dates for training periods.
            - `fin_train` (list of str): List of end dates for training periods.
            - `fin_test` (list of str): List of end dates for testing periods.
            - `model_sklearn_name` (list of str): List of model names from scikit-learn to evaluate.
            - `n_lags` (list of int): Number of lag features to include in the models.
            - `n_leads` (list of int): Number of lead features to include in the models.
            - `X_name_features` (list of list of str): Feature subsets to include as predictors in the models.
            Other parameters can also be included as required.

    hyperparameters_specific_regressor_args : dict
            A dictionary mapping each `model_sklearn_name` to its corresponding hyperparameter domains.
            Each model's domain is defined as a dictionary of hyperparameter names and their possible values. 
            Example:
            {
            "ARDRegression": {
                    "max_iter": [200, 300],
                    "tol": [0.001, 0.01],
                    "alpha_1": [1e-06, 1e-05],
            },
            "Ridge": {
                    "alpha": [0.1, 1.0, 10.0],
                    "solver": ["auto", "svd"]
            }
            }

    Returns:
    -------
    None
        The function does not return any value. Instead, it generates the hyperparameter combinations and
        executes the experiments concurrently by passing the configurations to the `create_model_machine_learning_algorithm`
        function which manage all persistently with folder structure.

    Workflow:
    ---------
    #TODO: Add an explanation/workflow diagram to illustrate the steps in the function.

    Example Usage:
    --------------
    hyperparameter_model_space = {
        "ini_train": ["2023-04-18", "2023-05-01"],
        "fin_train": ["2023-04-25", "2023-05-08"],
        "fin_test": ["2023-04-27", "2023-05-10"],
        "model_sklearn_name": ["Ridge", "ARDRegression"],
        "n_lags": [1, 5],
        "n_leads": [5, 10],
        "X_name_features": [["feature1", "feature2"], ["feature3", "feature4"]],
    }

    model_specific_args = {
            "Ridge": {
            "alpha": [0.1, 1.0],
            "solver": ["auto", "svd"]
            },
            "ARDRegression": {
            "max_iter": [200],
            "tol": [0.001],
            }
    }

    create_cv_hyperparameters_model(hyperparameter_model_space, model_specific_args) 
    """
    def create_dataframe_combinations(df,parameter_space):
            """
            Generate preprocessed dataframes based on combinations of preprocessing parameters.

            This function dynamically generates all possible combinations of preprocessing parameters
            specified in the `parameter_space` dictionary, applies the preprocessing to the given dataframe,
            and returns a list of resulting preprocessed dataframes.

            Parameters:
            ----------
            df : pd.DataFrame
                    The raw dataframe containing the time-series data to be preprocessed.
            parameter_space : dict
                    A dictionary defining the preprocessing parameters and their possible values.
                    The keys in the dictionary represent parameter names, and the values are lists of possible
                    values for those parameters. The expected keys include:
                    - `df` (pd.DataFrame): The raw dataframe to be preprocessed. It should be included in the
                    `parameter_space` dictionary under the key `"df"`.
                    - `resample_freq` (list of str): Frequencies for resampling the time-series data.
                    - `aggregation_func` (list of str): Aggregation functions to apply during resampling.
                    - `interpolation_method` (list of str): Methods to use for interpolating missing values.
                    - `target_variable` (list of str): Names of the columns to set as the target variable.
                    - `pivot` (list of bool): Whether to apply a pivot operation.
                    - `pivot_index` (list of list of str): Columns to use as the index in the pivot table.
                    - `pivot_columns` (list of list of str): Columns to use as the columns in the pivot table.
                    - `pivot_values` (list of list of str): Columns to use as the values in the pivot table.
                    - `subset_cols` (list of list of str): Columns to subset the dataframe to.
                    - `target_column_name` (list of str): New names for the target variable column.

            Returns:
            -------
            list
                    A list of preprocessed dataframes, each generated using a unique combination of the parameters.

            Example Usage:
            --------------
            parameter_space = {
                    "df": raw_df, 
                    "resample_freq": ["60S", "30S"],
                    "aggregation_func": ["mean", "median"],
                    "interpolation_method": ["linear", "quadratic"],
                    "target_variable": ["00-eco2"],
                    "pivot": [True, False],
                    "pivot_index": [["timestamp", "id_device"]],
                    "pivot_columns": [["id_variable"]],
                    "pivot_values": [["value"]],
                    "subset_cols": [["timestamp", "id_device", "id_variable", "value"]],
                    "target_column_name": ["y"]
            }
            preprocessed_dataframes = create_dataframe_combinations(parameter_space)
            for df in preprocessed_dataframes:
                    print(df)
            """
            keys, values = zip(*parameter_space.items())

            return [
                    preprocess_and_standardize_dataframe(
                        df=df,  
                        resample_freq=params["resample_freq"],
                        aggregation_func=params["aggregation_func"],
                        interpolation_method=params["interpolation_method"],
                        target_variable=params.get("target_variable"),
                        outlier_cols=params.get("outlier_cols"),
                        pivot=params["pivot"],
                        pivot_index=params.get("pivot_index"),
                        pivot_columns=params.get("pivot_columns"),
                        pivot_values=params.get("pivot_values"),
                        subset_cols=params.get("subset_cols"),
                        target_column_name=params.get("target_column_name"),
                    )
                    for combination in product(*values)
                    for params in [dict(zip(keys, combination))]
                ]


    def generate_hyperparameters_machine_learning(parameter_space, model_specific_args, metadata_preprocessing):
        """
        Generate unique hyperparameter combinations for machine learning experiments.

        This function combines generic parameters and model-specific hyperparameters into dictionaries
        representing all possible configurations.

        Parameters:
        ----------
        parameter_space : dict
                Generic parameters shared across all models, such as training/testing periods, feature configurations,
                and model names (`model_sklearn_name`).

        model_specific_args : dict
                Hyperparameter domains for each model, mapped by `model_sklearn_name`.

        metadata_preprocessing : list
                List of metadata dictionaries corresponding to the preprocessing steps applied to each dataframe.

        Returns:
        -------
        list
                A list of dictionaries, where each dictionary contains a unique combination of:
                - Generic parameters (`parameter_space`).
                - Model-specific hyperparameters (`model_specific_args`).
                - Preprocessing metadata (`metadata_preprocessing`).
        """
        generic_keys, generic_values = zip(*((k, v) for k, v in parameter_space.items() if k != "model_sklearn_name"))
        model_names = parameter_space.get("model_sklearn_name", [])

        return [
            {
                **dict(zip(generic_keys, generic_comb)),
                "model_sklearn_name": model,
                "metadata_preprocessing": metadata,
                "machine_learning_model_args": dict(zip(model_args_keys, model_args_comb))
            }
            for generic_comb, metadata in zip(product(*generic_values), metadata_preprocessing)
            for model in model_names
            for model_args_keys, model_args_values in [(list(model_specific_args[model].keys()), list(model_specific_args[model].values()))]
            for model_args_comb in product(*model_args_values)
        ]
    
    dfs_preprocessed_and_metadata = create_dataframe_combinations(
        df=df, 
        parameter_space =hyperparameters_preprocessing
        )
    
    dfs_preprocessed = [df["df_resampled_interpolated"] for df in dfs_preprocessed_and_metadata]
    metadata_preprocessing = [df["metadata_preprocessing"] for df in dfs_preprocessed_and_metadata]
    
    hyperparameters_model_space["tidy_data"] = dfs_preprocessed

    hyperparameters = generate_hyperparameters_machine_learning(
    parameter_space=hyperparameters_model_space, 
    model_specific_args=hyperparameters_specific_regressor_args, 
    metadata_preprocessing=metadata_preprocessing
    )

    return execute_concurrently(create_model_machine_learning_algorithm, hyperparameters)


hyperparameters_preprocessing = {
#     "df": [df],
    "resample_freq": ["60S", "30S"],
    "aggregation_func": ["mean", "median"],
    "interpolation_method": ["linear", "quadratic"],
    "target_variable": ["00-eco2"],
    "pivot": [True],
    "pivot_index": [["timestamp", "id_device"]],
    "pivot_columns": [["id_variable"]],
    "pivot_values": [["value"]],
    "subset_cols": [["timestamp", "id_device", "id_variable", "value"]],
    "target_column_name": ["y"]
}

hyperparameters_model_space = {
#     "tidy_data": [df_preprocessed],
    "ini_train": ["2023-04-18 00:00:00+00:00", "2023-04-19 00:00:00+00:00"],
    "fin_train": ["2023-04-25 00:00:00+00:00", "2023-04-26 00:00:00+00:00"],
    "fin_test": ["2023-04-26 00:00:00+00:00"],
    "model_sklearn_name": ["ARDRegression"],
    "n_lags": [5, 10],
    "n_leads": [5, 10],
    "X_name_features": [['04-diaq', '01-hum', '01-tvoc', '03-siaq', '00-temp', '02-pres']],
    "Y_name_features": ["y"],
    "lag_columns": [['04-diaq', '01-hum', '01-tvoc', '03-siaq', '00-temp', '02-pres', 'y']],
    "lead_columns": ["y"],
    "scale_in_preprocessing": [True],
    "name_time_column": ["timestamp"],
    "save_preprocessing": [True],
    "path_to_save_model": ["paper"],
    "folder_name_model": ["ARDRegression"],
    "folder_name_time_execution": ["execution-time-no-defined"],
    "folder_name_preprocessed_data": ["preprocessed-data-to-use-in-model"],
    "measure_time": [True],
    "logger": [None],
    "kwargs_save_object": [{"rename_if_exists": True}],
}

hyperparameters_specific_regressor_args = {
    "ARDRegression": {
        "max_iter": [200, 300],
        "tol": [0.001, 0.01],
        "alpha_1": [1e-06, 1e-05],
    }
}

df = pd.read_csv(r'..\data\instants_data_saved\2023-07-04_12-09-22.csv')
df = df.query("id_device == 'DBEM003'").reset_index(drop=True)
prepare_dataframe_from_db_cols_for_query = [
    "00-eco2",
    "00-temp",
    "01-hum",
    "01-tvoc",
    "02-pres",
    "03-siaq",
    "04-diaq"
]
# Prepare dataframe with selected columns
df = prepare_dataframe_from_db(
    df=df,
    cols_for_query=prepare_dataframe_from_db_cols_for_query,
)

test = create_cv_hyperparameters_model(
        df = df,
        hyperparameters_preprocessing = hyperparameters_preprocessing,
        hyperparameters_model_space = hyperparameters_model_space,
        hyperparameters_specific_regressor_args = hyperparameters_specific_regressor_args
)

test

c:\Users\rober\OneDrive\statistics_hub\src\PersistenceManager.py:1014: UserWarning: The specified flag file paper\ARDRegression\initrain-2023_4_18_0_0_0-UTC0___fintrain-2023_4_25_0_0_0-UTC0\execution-time-no-defined\training-done.txt does not exist.
  warnings.warn(f"The specified flag file {flag_file_path} does not exist.")

Task with args {'ini_train': '2023-04-18 00:00:00+00:00', 'fin_train': '2023-04-25 00:00:00+00:00', 'fin_test': '2023-04-26 00:00:00+00:00', 'n_lags': 5, 'n_leads': 5, 'X_name_features': ['04-diaq', '01-hum', '01-tvoc', '03-siaq', '00-temp', '02-pres'], 'Y_name_features': 'y', 'lag_columns': ['04-diaq', '01-hum', '01-tvoc', '03-siaq', '00-temp', '02-pres', 'y'], 'lead_columns': 'y', 'scale_in_preprocessing': True, 'name_time_column': 'timestamp', 'save_preprocessing': True, 'path_to_save_model': 'paper', 'folder_name_model': 'ARDRegression', 'folder_name_time_execution': 'execution-time-no-defined', 'folder_name_preprocessed_data': 'preprocessed-data-to-use-in-model', 'measure_time': True, 'logger': None, 'kwargs_save_object': {'rename_if_exists': True}, 'tidy_data':                       timestamp id_device           y    00-temp     01-hum  \
0     2023-04-18 09:31:00+00:00   DBEM003  400.000000  18.570000  33.050000
1     2023-04-18 09:32:00+00:00   DBEM003  400.000000  18.560000  33.000000
2     2023-04-18 09:33:00+00:00   DBEM003  400.000000  18.550000  33.030000
3     2023-04-18 09:34:00+00:00   DBEM003  400.000000  18.530000  33.090000
4     2023-04-18 09:35:00+00:00   DBEM003  400.000000  18.530000  33.050000
...                         ...       ...         ...        ...        ...
32544 2023-05-10 23:55:00+00:00   DBEM003  449.833333  25.281667  29.266667
32545 2023-05-10 23:56:00+00:00   DBEM003  427.000000  25.278333  29.221667
32546 2023-05-10 23:57:00+00:00   DBEM003  414.500000  25.271667  29.205000
32547 2023-05-10 23:58:00+00:00   DBEM003  407.166667  25.268333  29.241667
32548 2023-05-10 23:59:00+00:00   DBEM003  423.000000  25.275000  29.125000

         01-tvoc     02-pres    03-siaq    04-diaq
0       2.000000  934.700000  25.000000  27.000000
1       1.000000  934.720000  25.000000  25.000000
2       8.000000  934.700000  25.000000  25.000000
3       4.000000  934.660000  25.000000  26.000000
4       3.000000  934.680000  26.000000  29.000000
...          ...         ...        ...        ...
32544  38.000000  939.910000  26.166667  26.666667
32545  39.333333  939.913333  27.166667  28.000000
32546  22.333333  939.873333  27.666667  29.000000
32547  16.166667  939.873333  28.833333  30.333333
32548  25.666667  939.843333  28.833333  30.166667

[32549 rows x 9 columns], 'model_sklearn_name': 'ARDRegression', 'metadata_preprocessing': {'resample_freq': '60S', 'aggregation_func': 'mean', 'interpolation_method': 'linear', 'outlier_cols': None}, 'machine_learning_model_args': {'max_iter': 200, 'tol': 0.001, 'alpha_1': 1e-06}} processed successfully.

[{'model': MultiOutputRegressor(estimator=ARDRegression(max_iter=200)),
  'preprocessing_train': {'preprocess_columns': {'order': 1,
    'df':         04-diaq     01-hum   01-tvoc    03-siaq    00-temp     02-pres  \
    0     27.000000  33.050000  2.000000  25.000000  18.570000  934.700000
    1     25.000000  33.000000  1.000000  25.000000  18.560000  934.720000
    2     25.000000  33.030000  8.000000  25.000000  18.550000  934.700000
    3     26.000000  33.090000  4.000000  25.000000  18.530000  934.660000
    4     29.000000  33.050000  3.000000  26.000000  18.530000  934.680000
    ...         ...        ...       ...        ...        ...         ...
    9505  25.833333  32.765000  6.000000  25.166667  24.250000  938.323333
    9506  25.666667  32.758333  2.833333  25.166667  24.250000  938.326667
    9507  25.833333  32.758333  3.166667  25.500000  24.251667  938.323333
    9508  25.166667  32.751667  3.833333  25.000000  24.253333  938.290000
    9509  25.166667  32.755000  3.333333  25.000000  24.251667  938.286667

                   y
    0     400.000000
    1     400.000000
    2     400.000000
    3     400.000000
    4     400.000000
    ...          ...
    9505  401.833333
    9506  403.500000
    9507  400.000000
    9508  400.000000
    9509  400.333333

    [9510 rows x 7 columns],
    'transformer': PreprocessColumns(X_name_features=['04-diaq', '01-hum', '01-tvoc', '03-siaq',
                                       '00-temp', '02-pres'],
                      Y_name_features=['y']),
    'execution_time_in_seconds': 0.0011408329010009766},
   'preprocess_scaler': {'order': 2,
    'df':      04-diaq 01-hum 01-tvoc 03-siaq 00-temp 02-pres    y
    0        NaN    NaN     NaN     NaN     NaN     NaN  NaN
    1        NaN    NaN     NaN     NaN     NaN     NaN  NaN
    2        NaN    NaN     NaN     NaN     NaN     NaN  NaN
    3        NaN    NaN     NaN     NaN     NaN     NaN  NaN
    4        NaN    NaN     NaN     NaN     NaN     NaN  NaN
    ...      ...    ...     ...     ...     ...     ...  ...
    9505     NaN    NaN     NaN     NaN     NaN     NaN  NaN
    9506     NaN    NaN     NaN     NaN     NaN     NaN  NaN
    9507     NaN    NaN     NaN     NaN     NaN     NaN  NaN
    9508     NaN    NaN     NaN     NaN     NaN     NaN  NaN
    9509     NaN    NaN     NaN     NaN     NaN     NaN  NaN

    [9510 rows x 7 columns],
    'transformer': PreprocessScaler(),
    'execution_time_in_seconds': 0.010384559631347656},
   'preprocess_lags': {'order': 3,
    'df':        04-diaq    01-hum   01-tvoc   03-siaq   00-temp   02-pres         y  \
    0    -0.820029  1.413087 -1.665305 -0.704419 -7.221929  0.400785 -0.792509
    1    -0.849725  1.385378 -1.690257 -0.704419 -7.235410  0.406584 -0.792509
    2    -0.849725  1.402003 -1.515595 -0.704419 -7.248892  0.400785 -0.792509
    3    -0.834877  1.435254 -1.615402 -0.704419 -7.275855  0.389185 -0.792509
    4    -0.790334  1.413087 -1.640354 -0.686576 -7.275855  0.394985 -0.792509
    ...        ...       ...       ...       ...       ...       ...       ...
    9505 -0.837352  1.255145 -1.565498 -0.701445  0.435604  1.451488 -0.779815
    9506 -0.839826  1.251451 -1.644512 -0.701445  0.435604  1.452455 -0.768275
    9507 -0.837352  1.251451 -1.636195 -0.695497  0.437851  1.451488 -0.792509
    9508 -0.847250  1.247756 -1.619560 -0.704419  0.440098  1.441822 -0.792509
    9509 -0.847250  1.249603 -1.632036 -0.704419  0.437851  1.440855 -0.790201

          lag_04-diaq_1  lag_04-diaq_2  lag_04-diaq_3  ...  lag_02-pres_1  \
    0          0.000089       0.000178       0.000266  ...      -0.000152
    1         -0.820029       0.000178       0.000266  ...       0.400785
    2         -0.849725      -0.820029       0.000266  ...       0.406584
    3         -0.849725      -0.849725      -0.820029  ...       0.400785
    4         -0.834877      -0.849725      -0.849725  ...       0.389185
    ...             ...            ...            ...  ...            ...
    9505      -0.847250      -0.842301      -0.847250  ...       1.454388
    9506      -0.837352      -0.847250      -0.842301  ...       1.451488
    9507      -0.839826      -0.837352      -0.847250  ...       1.452455
    9508      -0.837352      -0.839826      -0.837352  ...       1.451488
    9509      -0.847250      -0.837352      -0.839826  ...       1.441822

          lag_02-pres_2  lag_02-pres_3  lag_02-pres_4  lag_02-pres_5   lag_y_1  \
    0         -0.000303      -0.000456      -0.000609      -0.000762  0.000083
    1         -0.000303      -0.000456      -0.000609      -0.000762 -0.792509
    2          0.400785      -0.000456      -0.000609      -0.000762 -0.792509
    3          0.406584       0.400785      -0.000609      -0.000762 -0.792509
    4          0.400785       0.406584       0.400785      -0.000762 -0.792509
    ...             ...            ...            ...            ...       ...
    9505       1.449555       1.443755       1.443755       1.443755 -0.787893
    9506       1.454388       1.449555       1.443755       1.443755 -0.779815
    9507       1.451488       1.454388       1.449555       1.443755 -0.768275
    9508       1.452455       1.451488       1.454388       1.449555 -0.792509
    9509       1.451488       1.452455       1.451488       1.454388 -0.792509

           lag_y_2   lag_y_3   lag_y_4   lag_y_5
    0     0.000166  0.000250  0.000331  0.000413
    1     0.000166  0.000250  0.000331  0.000413
    2    -0.792509  0.000250  0.000331  0.000413
    3    -0.792509 -0.792509  0.000331  0.000413
    4    -0.792509 -0.792509 -0.792509  0.000413
    ...        ...       ...       ...       ...
    9505 -0.792509 -0.789047 -0.792509 -0.764813
    9506 -0.787893 -0.792509 -0.789047 -0.792509
    9507 -0.779815 -0.787893 -0.792509 -0.789047
    9508 -0.768275 -0.779815 -0.787893 -0.792509
    9509 -0.792509 -0.768275 -0.779815 -0.787893

    [9510 rows x 42 columns],
    'transformer': PreprocessLags(columns=['04-diaq', '01-hum', '01-tvoc', '03-siaq', '00-temp',
                            '02-pres', 'y'],
                   n=5),
    'execution_time_in_seconds': 0.008999824523925781},
   'preprocess_leads': {'order': 4,
    'df':        04-diaq    01-hum   01-tvoc   03-siaq   00-temp   02-pres         y  \
    0    -0.820029  1.413087 -1.665305 -0.704419 -7.221929  0.400785 -0.792509
    1    -0.849725  1.385378 -1.690257 -0.704419 -7.235410  0.406584 -0.792509
    2    -0.849725  1.402003 -1.515595 -0.704419 -7.248892  0.400785 -0.792509
    3    -0.834877  1.435254 -1.615402 -0.704419 -7.275855  0.389185 -0.792509
    4    -0.790334  1.413087 -1.640354 -0.686576 -7.275855  0.394985 -0.792509
    ...        ...       ...       ...       ...       ...       ...       ...
    9505 -0.837352  1.255145 -1.565498 -0.701445  0.435604  1.451488 -0.779815
    9506 -0.839826  1.251451 -1.644512 -0.701445  0.435604  1.452455 -0.768275
    9507 -0.837352  1.251451 -1.636195 -0.695497  0.437851  1.451488 -0.792509
    9508 -0.847250  1.247756 -1.619560 -0.704419  0.440098  1.441822 -0.792509
    9509 -0.847250  1.249603 -1.632036 -0.704419  0.437851  1.440855 -0.790201

          lag_04-diaq_1  lag_04-diaq_2  lag_04-diaq_3  ...   lag_y_1   lag_y_2  \
    0          0.000089       0.000178       0.000266  ...  0.000083  0.000166
    1         -0.820029       0.000178       0.000266  ... -0.792509  0.000166
    2         -0.849725      -0.820029       0.000266  ... -0.792509 -0.792509
    3         -0.849725      -0.849725      -0.820029  ... -0.792509 -0.792509
    4         -0.834877      -0.849725      -0.849725  ... -0.792509 -0.792509
    ...             ...            ...            ...  ...       ...       ...
    9505      -0.847250      -0.842301      -0.847250  ... -0.787893 -0.792509
    9506      -0.837352      -0.847250      -0.842301  ... -0.779815 -0.787893
    9507      -0.839826      -0.837352      -0.847250  ... -0.768275 -0.779815
    9508      -0.837352      -0.839826      -0.837352  ... -0.792509 -0.768275
    9509      -0.847250      -0.837352      -0.839826  ... -0.792509 -0.792509

           lag_y_3   lag_y_4   lag_y_5  lead_y_1  lead_y_2  lead_y_3  lead_y_4  \
    0     0.000250  0.000331  0.000413 -0.792509 -0.792509 -0.792509 -0.792509
    1     0.000250  0.000331  0.000413 -0.792509 -0.792509 -0.792509 -0.792509
    2     0.000250  0.000331  0.000413 -0.792509 -0.792509 -0.792509 -0.792509
    3    -0.792509  0.000331  0.000413 -0.792509 -0.792509 -0.792509 -0.792509
    4    -0.792509 -0.792509  0.000413 -0.792509 -0.792509 -0.792509 -0.792509
    ...        ...       ...       ...       ...       ...       ...       ...
    9505 -0.789047 -0.792509 -0.764813 -0.768275 -0.792509 -0.792509 -0.790201
    9506 -0.792509 -0.789047 -0.792509 -0.792509 -0.792509 -0.790201  0.000333
    9507 -0.787893 -0.792509 -0.789047 -0.792509 -0.790201  0.000250  0.000333
    9508 -0.779815 -0.787893 -0.792509 -0.790201  0.000167  0.000250  0.000333
    9509 -0.768275 -0.779815 -0.787893  0.000083  0.000167  0.000250  0.000333

          lead_y_5
    0    -0.792509
    1    -0.792509
    2    -0.792509
    3    -0.792509
    4    -0.792509
    ...        ...
    9505  0.000417
    9506  0.000417
    9507  0.000417
    9508  0.000417
    9509  0.000417

    [9510 rows x 47 columns],
    'transformer': PreprocessLeads(columns=['y'], n=5),
    'execution_time_in_seconds': 0.003008604049682617}},
  'preprocessing_test': {'preprocess_columns': {'order': 1,
    'df':         04-diaq     01-hum    01-tvoc    03-siaq    00-temp     02-pres  \
    0     25.666667  32.751667   2.000000  25.333333  24.256667  938.286667
    1     25.333333  32.748333  10.666667  25.000000  24.260000  938.270000
    2     25.000000  32.755000   4.333333  25.000000  24.258333  938.270000
    3     25.666667  32.760000  13.833333  25.333333  24.256667  938.263333
    4     25.200000  32.764000   5.800000  25.200000  24.260000  938.246000
    ...         ...        ...        ...        ...        ...         ...
    1435  28.500000  33.310000  42.333333  27.500000  24.586667  937.633333
    1436  28.166667  33.293333  43.833333  27.333333  24.596667  937.646667
    1437  26.833333  33.295000  41.500000  26.166667  24.595000  937.663333
    1438  26.833333  33.303333  42.833333  26.333333  24.595000  937.683333
    1439  25.833333  33.298333  41.833333  25.666667  24.591667  937.670000

                   y
    0     400.666667
    1     404.666667
    2     400.000000
    3     401.000000
    4     400.000000
    ...          ...
    1435  412.666667
    1436  414.333333
    1437  410.166667
    1438  408.000000
    1439  408.833333

    [1440 rows x 7 columns],
    'transformer': PreprocessColumns(X_name_features=['04-diaq', '01-hum', '01-tvoc', '03-siaq',
                                       '00-temp', '02-pres'],
                      Y_name_features=['y']),
    'execution_time_in_seconds': 0.0009911060333251953},
   'preprocess_scaler': {'order': 2,
    'df':      04-diaq 01-hum 01-tvoc 03-siaq 00-temp 02-pres    y
    0        NaN    NaN     NaN     NaN     NaN     NaN  NaN
    1        NaN    NaN     NaN     NaN     NaN     NaN  NaN
    2        NaN    NaN     NaN     NaN     NaN     NaN  NaN
    3        NaN    NaN     NaN     NaN     NaN     NaN  NaN
    4        NaN    NaN     NaN     NaN     NaN     NaN  NaN
    ...      ...    ...     ...     ...     ...     ...  ...
    1435     NaN    NaN     NaN     NaN     NaN     NaN  NaN
    1436     NaN    NaN     NaN     NaN     NaN     NaN  NaN
    1437     NaN    NaN     NaN     NaN     NaN     NaN  NaN
    1438     NaN    NaN     NaN     NaN     NaN     NaN  NaN
    1439     NaN    NaN     NaN     NaN     NaN     NaN  NaN

    [1440 rows x 7 columns],
    'transformer': PreprocessScaler(),
    'execution_time_in_seconds': 0.008004903793334961},
   'preprocess_lags': {'order': 3,
    'df':        04-diaq    01-hum   01-tvoc   03-siaq   00-temp   02-pres         y  \
    0    -0.717129 -1.760529 -1.362757 -0.696208 -1.505240  1.229977 -0.489879
    1    -0.721754 -1.766078 -1.111761 -0.700804 -1.477474  1.210974 -0.459379
    2    -0.726380 -1.754981 -1.295181 -0.700804 -1.491357  1.210974 -0.494963
    3    -0.717129 -1.746658 -1.020051 -0.696208 -1.505240  1.203373 -0.487338
    4    -0.723605 -1.740000 -1.252705 -0.698046 -1.477474  1.183611 -0.494963
    ...        ...       ...       ...       ...       ...       ...       ...
    1435 -0.677815 -0.831140 -0.194661 -0.666335  1.243666  0.485085 -0.398378
    1436 -0.682440 -0.858883 -0.151220 -0.668633  1.326966  0.500287 -0.385670
    1437 -0.700941 -0.856108 -0.218796 -0.684719  1.313083  0.519289 -0.417441
    1438 -0.700941 -0.842237 -0.180181 -0.682421  1.313083  0.542092 -0.433962
    1439 -0.714817 -0.850560 -0.209142 -0.691612  1.285316  0.526890 -0.427608

          lag_04-diaq_1  lag_04-diaq_2  lag_04-diaq_3  ...  lag_02-pres_1  \
    0          0.000497       0.000985       0.001473  ...      -0.000366
    1         -0.717129       0.000985       0.001473  ...       1.229977
    2         -0.721754      -0.717129       0.001473  ...       1.210974
    3         -0.726380      -0.721754      -0.717129  ...       1.210974
    4         -0.717129      -0.726380      -0.721754  ...       1.203373
    ...             ...            ...            ...  ...            ...
    1435      -0.691690      -0.682440      -0.684752  ...       0.458482
    1436      -0.677815      -0.691690      -0.682440  ...       0.485085
    1437      -0.682440      -0.677815      -0.691690  ...       0.500287
    1438      -0.700941      -0.682440      -0.677815  ...       0.519289
    1439      -0.700941      -0.700941      -0.682440  ...       0.542092

          lag_02-pres_2  lag_02-pres_3  lag_02-pres_4  lag_02-pres_5   lag_y_1  \
    0         -0.000743      -0.001105      -0.001454      -0.001793  0.000297
    1         -0.000743      -0.001105      -0.001454      -0.001793 -0.489879
    2          1.229977      -0.001105      -0.001454      -0.001793 -0.459379
    3          1.210974       1.229977      -0.001454      -0.001793 -0.494963
    4          1.210974       1.210974       1.229977      -0.001793 -0.487338
    ...             ...            ...            ...            ...       ...
    1435       0.473684       0.488885       0.504087       0.504087 -0.409816
    1436       0.458482       0.473684       0.488885       0.504087 -0.398378
    1437       0.485085       0.458482       0.473684       0.488885 -0.385670
    1438       0.500287       0.485085       0.458482       0.473684 -0.417441
    1439       0.519289       0.500287       0.485085       0.458482 -0.433962

           lag_y_2   lag_y_3   lag_y_4   lag_y_5
    0     0.000599  0.000890  0.001159  0.001438
    1     0.000599  0.000890  0.001159  0.001438
    2    -0.489879  0.000890  0.001159  0.001438
    3    -0.459379 -0.489879  0.001159  0.001438
    4    -0.494963 -0.459379 -0.489879  0.001438
    ...        ...       ...       ...       ...
    1435 -0.369149 -0.412358 -0.433962 -0.461921
    1436 -0.409816 -0.369149 -0.412358 -0.433962
    1437 -0.398378 -0.409816 -0.369149 -0.412358
    1438 -0.385670 -0.398378 -0.409816 -0.369149
    1439 -0.417441 -0.385670 -0.398378 -0.409816

    [1440 rows x 42 columns],
    'transformer': PreprocessLags(columns=['04-diaq', '01-hum', '01-tvoc', '03-siaq', '00-temp',
                            '02-pres', 'y'],
                   n=5),
    'execution_time_in_seconds': 0.007993459701538086},
   'preprocess_leads': {'order': 4,
    'df':        04-diaq    01-hum   01-tvoc   03-siaq   00-temp   02-pres         y  \
    0    -0.717129 -1.760529 -1.362757 -0.696208 -1.505240  1.229977 -0.489879
    1    -0.721754 -1.766078 -1.111761 -0.700804 -1.477474  1.210974 -0.459379
    2    -0.726380 -1.754981 -1.295181 -0.700804 -1.491357  1.210974 -0.494963
    3    -0.717129 -1.746658 -1.020051 -0.696208 -1.505240  1.203373 -0.487338
    4    -0.723605 -1.740000 -1.252705 -0.698046 -1.477474  1.183611 -0.494963
    ...        ...       ...       ...       ...       ...       ...       ...
    1435 -0.677815 -0.831140 -0.194661 -0.666335  1.243666  0.485085 -0.398378
    1436 -0.682440 -0.858883 -0.151220 -0.668633  1.326966  0.500287 -0.385670
    1437 -0.700941 -0.856108 -0.218796 -0.684719  1.313083  0.519289 -0.417441
    1438 -0.700941 -0.842237 -0.180181 -0.682421  1.313083  0.542092 -0.433962
    1439 -0.714817 -0.850560 -0.209142 -0.691612  1.285316  0.526890 -0.427608

          lag_04-diaq_1  lag_04-diaq_2  lag_04-diaq_3  ...   lag_y_1   lag_y_2  \
    0          0.000497       0.000985       0.001473  ...  0.000297  0.000599
    1         -0.717129       0.000985       0.001473  ... -0.489879  0.000599
    2         -0.721754      -0.717129       0.001473  ... -0.459379 -0.489879
    3         -0.726380      -0.721754      -0.717129  ... -0.494963 -0.459379
    4         -0.717129      -0.726380      -0.721754  ... -0.487338 -0.494963
    ...             ...            ...            ...  ...       ...       ...
    1435      -0.691690      -0.682440      -0.684752  ... -0.409816 -0.369149
    1436      -0.677815      -0.691690      -0.682440  ... -0.398378 -0.409816
    1437      -0.682440      -0.677815      -0.691690  ... -0.385670 -0.398378
    1438      -0.700941      -0.682440      -0.677815  ... -0.417441 -0.385670
    1439      -0.700941      -0.700941      -0.682440  ... -0.433962 -0.417441

           lag_y_3   lag_y_4   lag_y_5  lead_y_1  lead_y_2  lead_y_3  lead_y_4  \
    0     0.000890  0.001159  0.001438 -0.459379 -0.494963 -0.487338 -0.494963
    1     0.000890  0.001159  0.001438 -0.494963 -0.487338 -0.494963 -0.494963
    2     0.000890  0.001159  0.001438 -0.487338 -0.494963 -0.494963 -0.419983
    3    -0.489879  0.001159  0.001438 -0.494963 -0.494963 -0.419983 -0.493692
    4    -0.459379 -0.489879  0.001438 -0.494963 -0.419983 -0.493692 -0.486067
    ...        ...       ...       ...       ...       ...       ...       ...
    1435 -0.412358 -0.433962 -0.461921 -0.385670 -0.417441 -0.433962 -0.427608
    1436 -0.369149 -0.412358 -0.433962 -0.417441 -0.433962 -0.427608  0.001345
    1437 -0.409816 -0.369149 -0.412358 -0.433962 -0.427608  0.001005  0.001345
    1438 -0.398378 -0.409816 -0.369149 -0.427608  0.000660  0.001005  0.001345
    1439 -0.385670 -0.398378 -0.409816  0.000340  0.000660  0.001005  0.001345

          lead_y_5
    0    -0.494963
    1    -0.419983
    2    -0.493692
    3    -0.486067
    4    -0.494963
    ...        ...
    1435  0.001691
    1436  0.001691
    1437  0.001691
    1438  0.001691
    1439  0.001691

    [1440 rows x 47 columns],
    'transformer': PreprocessLeads(columns=['y'], n=5),
    'execution_time_in_seconds': 0.0010137557983398438}},
  'df_train_X':        04-diaq    01-hum   01-tvoc   03-siaq   00-temp   02-pres  \
  0    -0.820029  1.413087 -1.665305 -0.704419 -7.221929  0.400785
  1    -0.849725  1.385378 -1.690257 -0.704419 -7.235410  0.406584
  2    -0.849725  1.402003 -1.515595 -0.704419 -7.248892  0.400785
  3    -0.834877  1.435254 -1.615402 -0.704419 -7.275855  0.389185
  4    -0.790334  1.413087 -1.640354 -0.686576 -7.275855  0.394985
  ...        ...       ...       ...       ...       ...       ...
  9505 -0.837352  1.255145 -1.565498 -0.701445  0.435604  1.451488
  9506 -0.839826  1.251451 -1.644512 -0.701445  0.435604  1.452455
  9507 -0.837352  1.251451 -1.636195 -0.695497  0.437851  1.451488
  9508 -0.847250  1.247756 -1.619560 -0.704419  0.440098  1.441822
  9509 -0.847250  1.249603 -1.632036 -0.704419  0.437851  1.440855

        lag_04-diaq_1  lag_04-diaq_2  lag_04-diaq_3  lag_04-diaq_4  ...  \
  0          0.000089       0.000178       0.000266       0.000355  ...
  1         -0.820029       0.000178       0.000266       0.000355  ...
  2         -0.849725      -0.820029       0.000266       0.000355  ...
  3         -0.849725      -0.849725      -0.820029       0.000355  ...

In [3]:
df = pd.read_csv(r'..\data\instants_data_saved\2023-07-04_12-09-22.csv')
# df = df.query("id_device == 'DBEM003'").reset_index(drop=True)
df

,id_data,id_device,id_sensor,id_variable,timestamp,value,unit,id_location
0,1,DBEM003,sWEA,00-temp,2023-04-18 09:31:00,18.57,ºC,NaN
1,2,DBEM003,sWEA,00-temp,2023-04-18 09:32:00,18.56,ºC,NaN
2,3,DBEM003,sWEA,00-temp,2023-04-18 09:33:00,18.55,ºC,NaN
3,4,DBEM003,sWEA,00-temp,2023-04-18 09:34:00,18.53,ºC,NaN
4,5,DBEM003,sWEA,00-temp,2023-04-18 09:35:00,18.53,ºC,NaN
...,...,...,...,...,...,...,...,...
3477901,3477902,DBEM007,sAQU,01-tvoc,2023-05-11 13:25:00,179.00,ppb,NaN
3477902,3477903,DBEM007,sAQU,01-tvoc,2023-05-11 14:10:00,200.00,ppb,NaN
3477903,3477904,DBEM007,sAQU,01-tvoc,2023-05-11 14:40:00,206.00,ppb,NaN
3477904,3477905,DBEM007,sAQU,01-tvoc,2023-05-11 15:49:00,213.00,ppb,NaN
3477905,3477906,DBEM007,sAQU,01-tvoc,2023-05-11 17:58:00,182.00,ppb,NaN